.landing-grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

@media screen and (max-width: 590px) {
    .landing-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 475px) {
    .landing-grid {
        grid-template-columns: 1fr;
    }
}
